*, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #ff7d10;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

.banner {
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, rgb(255, 125, 16), rgb(73, 0, 126));
    background-size: cover;
    background-position: center;
}

.logo {
    width: 120px;
    cursor: alias;
    color: #fff;
}
.navbar h2{
    font-size: 40px;
    line-height: 52px;
    font-family: sans-serif;
    color: #49007e;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffb238;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
    border-radius: 10px;
}

.navbar ul li:hover::after {
    width: 100%;
}

.break {
    border-top: 1px solid #ffb238 ;
    width: 100%;
    height: 60vh;
    background: linear-gradient(to right, rgb(255, 125, 16), rgb(73, 0, 126));
    display: flex;
    align-items: center;
    justify-content: center;
}

.break h4 {
    margin: 0;
}

.break #meiota{
    width: 60%;
    height: 40vh;
    background-color: #ffb3387c;
    border-radius: 10px;
    display: flex;
}

.break #meiota #button{
    width: 50%;
    height: 40vh;
}
.break #meiota #button{
    text-decoration: none;
    text-transform: uppercase;
}

.break #meiota #button::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffb238;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
    border-radius: 10px;
}

.break #meiota #button:hover::after {
    width: 100%;
}
.break #meiota #words{
    width: 50%;
    height: 40vh;
}
.break #meiota #words p{
        font-size: 20px;
        line-height: 35px;
        color: #49007e;
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.container{
    margin-top: 50px;
    width:100%;
    display: flex;
}
.container .img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about {
    width: 60%;
}
#tigerpic{
padding-left: 20px;
width: auto;
height: 400px;
}
.container.about{
    width: 50%;
}
.container .about>span{
    border-left: 50px;
    padding-left: 50px;
    line-height: 26px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 15px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .about h2{  
    font-size: 40px;
    line-height: 52px;
    font-family: sans-serif;
    color: #A89261;
    font-weight: 600;
    margin: 0;
    padding: 0;
     text-align: center;
}
.container .about p{  
    font-size: 16px;
    line-height: 26px;
    color: #6a6a8e;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{ 
    line-height: 26px;
    font-weight: 50;
    padding: 25px;
    padding-left: 25px;
    position: relative;
    border-left: 4px solid #A89261;
    margin: 30px 0;
    background: #a892618a;
    color: #6a6a8e;
}
.portfolio{
    background: linear-gradient(to right, rgb(168, 146, 97), rgb(169, 182, 152));
}

#container_images{
    display: flex;
    gap: 3%;
    padding: 0 2%;
}
.portfolio-img{
    width: 32%;
    height: 450px;
    background-color: #A89261;
}

.portfolio-img img {
    width: 100%;
}

#port_images{
    width: 70%;
    margin: auto;    
    display: flex;
    gap: 3%;
    padding: 2%;
}

#words{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#words h2{
    font-size: 40px;
    line-height: 52px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}
#words a{
justify-self: end;
position: absolute;
right: 20px;
}
#container_loc{
    width: 100%;
    margin: auto;    
    background-color: #A89261;
}
#container_loc iframe{
    width: 70%;
    margin: auto;    
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#container_loc h2{
    margin: 0;
    padding-top: 40px;
    font-size: 40px;
    line-height: 52px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
}



