*{
    font-family:'Courier New', Courier, monospace,sans-serif;
    color: white;
}

.banner{
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(121, 89, 59, 0.459), rgba(0, 0, 0, 0.678)), url(img/banner.jpeg);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 120px;
    cursor: alias;
    color: #fff;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0,5s;
    border-radius: 10px;
}
.navbar ul li:hover::after{
    width: 100%;
}
.break{
    width: 100%;
    height: 10%;
    background-color: #A89261;
}

.break h4{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
